<div class="dashboard-container">

  <header class="header-row">
    <h1>Bienvenido {{ userName() }}</h1>

    <button mat-icon-button class="avatar-btn">
      <mat-icon class="large-icon">account_circle</mat-icon>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon style="color: #000000;">logout</mat-icon>
      <span style="color: #000000;">Cerrar Sesión</span>
    </button>
  </header>

  <main class="grid-layout">

    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Gestionar Empresa</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        @if (companyData()) {
        <div style="padding: 10px 0;">
          <h2 style="color: #3f51b5; margin: 0;">{{ companyData()?.companyName }}</h2>

          <p><strong>CIF:</strong> {{ companyData()?.cif }}</p>

          <p>
            <strong>Estado:</strong>
            @if (companyData()?.active) {
            <span style="color: green; font-weight: bold;">✅ Activo</span>
            } @else {
            <span style="color: red; font-weight: bold;">❌ Inactivo</span>
            }
          </p>
        </div>
        } @else {
        <p class="no-data">Cargando datos...</p>
        }
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-stroked-button color="primary" (click)="openDetails()">
          <mat-icon>visibility</mat-icon> Ver Detalles
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Métricas</mat-card-title>
      </mat-card-header>

      <mat-card-content class="centered-content" style="height: 300px; display: block;">

        @if (chartData()) {
        <canvas baseChart [data]="chartData()!" [options]="barChartOptions" [type]="barChartType">
        </canvas>
        } @else {
        <div class="no-data-container">
          <p class="no-data">Cargando gráfico...</p>
        </div>
        }

      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" class="full-width">
      <mat-card-header>
        <mat-card-title>Tickets / Incidencias</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        @if (tickets().length > 0) {
        <div class="table-container">
          <table class="tickets-table">
            <thead>
              <tr>
                <th>Asunto</th>
                <th>Prioridad</th>
                <th>Estado</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody>
              @for (ticket of tickets(); track ticket.id) {
              <tr>

                <td><strong>{{ ticket.title }}</strong></td>

                <td>
                  @if(ticket.priority == 'CRITICAL' || ticket.priority == 'CRITICAL') { <span
                    class="badge darkRed">Critica</span> }
                  @else if(ticket.priority == 'ALTA' || ticket.priority == 'HIGH') { <span class="badge red">Alta</span>
                  }
                  @else if(ticket.priority == 'MEDIA' || ticket.priority == 'MEDIUM') { <span
                    class="badge yellow">Media</span> }
                  @else { <span class="badge green">Baja</span> }
                </td>

                <td>
                  <span class="status-pill">{{ ticket.status }}</span>
                </td>

                <td>{{ ticket.creationDate | date:'dd/MM/yyyy' }}</td>
              </tr>
              }
            </tbody>
          </table>
        </div>

        } @else {
        <div class="centered-content" style="padding: 40px 0;">
          <p class="no-data">No hay tickets recientes</p>
        </div>
        }

      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-stroked-button color="primary" (click)="openCreateTicket()">
          <mat-icon>add_box</mat-icon> Gestionar / Crear
        </button>
      </mat-card-actions>
    </mat-card>

  </main>
</div>